<h3>Shopping</h3>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Value.Name</h5>
    </div>
    @foreach (var item in Value.Items)
    {
        <ul>
            <li class="list-group-item">@item.Name</li>
        </ul>
    }
</div>
@code {

    [Parameter]
    public ShoppingShared.Models.Shopping Value { get; set; }

}
