@page "/shopping"
@using ShoppingBlazor.Client.Components
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http
@implements IAsyncDisposable


<div class="p-4">
    <div class="container">
        <h1>Add Shopping list and items for each one</h1>
    </div>
</div>
<div class="d-flex flex-row">
    <div class="col">
        <ShoppingForm Value="@model" />
    </div>
    <div class="col">
        
    </div>
</div>
<div class="d-flex flex-wrap">
    @foreach (var shopping in Data)
    {
        <div class="p-2">
            <Shopping value="@shopping" />
        </div>
    }
</div>

@code {

    private ShoppingShared.Models.Shopping model = new() { Id = -1, Name = null };
    private IEnumerable<ShoppingShared.Models.Shopping> Data = Array.Empty<ShoppingShared.Models.Shopping>();

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        Data = await Http.GetFromJsonAsync<IEnumerable<ShoppingShared.Models.Shopping>>("https://localhost:5001/shopping");

        await DisposeAsync();

        // SignalR connection
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/ws")
            .Build();

        hubConnection.On<ShoppingShared.Models.Shopping>("ReceiveMessage", (data) =>
        {
            Data.Append(data);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
